/* ---- reset ---- */
@font-face {
  font-family: 'Square';
  src: url("../fonts/Square.ttf");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Square', sans-serif;
  font-weight: bold;
  color: #222222;
  margin: 0;
  padding: 0;
  background-image: url("../img/mondrian.png");
  background-repeat: none;
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 300px;
}

main {
  width: 100%;
}

.splash-screen {
  display: flex;
  flex-direction: column;
}

.lives-score {
  display: flex;
  width: 780px;
  height: 80px;
  justify-content: space-between;
  flex-direction: row; 
  margin: 0 20px;
}

#countdown {
  margin-top: 20px;
}

button {
  font-family: 'Square', sans-serif;
  background-color: #f4f4f4;
  color: #222;
  border: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 150px;
  padding: 0;
  transition: all 1s ease;
}

button:hover {
  background: #e4b951;
  color: #222;
  }

#start {
  width: 970px;
  height: 180px;
}

body .game-over {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;;
  width: 1440px;
  height: 900px;
}

h2 {
  font-size: 7rem;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 280px;
  margin-bottom: 50px;
}

.final-score {
  font-size: 2.5rem;
  align-self: center;
}

#bounce, #lost-live {
  display: none;
}

#restart {
  margin-top: 95px;
  width: 970px;
  height: 180px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

button:hover {
  background-color: #e4b951;
}

@media (min-width: 768px) {
  .container {
    /* max-width: 900px; */
    margin: 0 auto;
  }
}

.game-screen {
  margin-top: 180px;
  margin-left: 300px;
  width: 840px;
  height: 440px;
  font-family: 'Square', sans-serif;
  font-size: 2rem;
}

p {
  margin: 20px 0 0 0;
  text-transform: uppercase;
}

.instruction {
  text-transform: none;
  margin: 150px 60px 40px 40px;
  font-size: 1.2rem;
  text-align: end;
}

canvas.old-class {
  display: flex;
  background-color: #ddd;
  justify-content:center;
  align-items:center;
  cursor: ns-resize;
}

canvas.direction {
  cursor: ew-resize;
  display: flex;
  background-color: #ddd;
  justify-content:center;
  align-items:center;
}
